:root{
    --primary-color: hsl(243, 100%, 93%);
    --secondary-color: hsl(229, 7%, 55%);
    --tertiary-color: hsl(228, 56%, 26%);
    --fouthary-color: hsl(229, 57%, 11%);
}

body{
    font-size: .875rem ;
    font-family: 'Raleway', sans-serif;
    background: url("/images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.images-container{
    background-color: var(--tertiary-color);
    border-radius: .9375rem 9.25rem .9375rem .9375rem;
    width: 90%;
}

.images-container img{
    padding: 1.5625rem 0 0 1.5625rem;
    margin-top: 1.5625rem ;
}

.icons-menu{
    margin: 0 0 3.125rem 1.5625rem;
}

.icons-menu img{
    padding: .9375rem;
    background-color: var(--fouthary-color);
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: .625rem ;
    border-radius: .9375rem ;
}

.info-container{
    background-color: var(--tertiary-color);
    width: 90%;
    margin-top: 1.5625rem ;
    border-radius: 1.5625rem ;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container span {
    font-weight: 700;
}

.info-container p{
    padding-top: 1.5625rem;
}

.storage-range{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "range range"
    "text text";
    align-items: center;
    justify-items: end; 
    width: 80%;
}

.storage-range input{
    width: 100%;
    grid-area: range;
}

.storage-range span:first-child{
    justify-self: start;
}

.tooltip-box{
    background-color: var(--primary-color);
    border-radius: .9375rem ;
    color: var(--fouthary-color);
    padding: .9375rem 3.1875rem;
    position: relative;
    top: 2.1875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip-box span:nth-child(1){
    font-size: 2.5rem ;
    padding-right: .9375rem ;
}

.tooltip-box span:nth-child(2){
    color: var(--secondary-color);
    font-size: .875rem;
}
