:root{
    --primary-color: hsl(243, 100%, 93%);
    --secondary-color: hsl(229, 7%, 55%);
    --tertiary-color: hsl(228, 56%, 26%);
    --fouthary-color: hsl(229, 57%, 11%);
}

body{
    font-size: .875rem ;
    font-family: 'Raleway', sans-serif;
    background: url("/images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.images-container{
    background-color: var(--tertiary-color);
    border-radius: .9375rem 9.25rem .9375rem .9375rem;
    width: 90%;
}

.images-container img{
    padding: 1.5625rem 0 0 1.5625rem;
    margin-top: 1.5625rem ;
}

.icons-menu{
    margin: 0 0 3.125rem 1.5625rem;
}

.icons-menu img{
    padding: .9375rem;
    background-color: var(--fouthary-color);
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: .625rem ;
    border-radius: .9375rem ;
}

.info-container{
    background-color: var(--tertiary-color);
    width: 90%;
    margin-top: 1.5625rem ;
    border-radius: 1.5625rem ;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container span {
    font-weight: 700;
}

.info-container h1{
    font-size: 1rem ;
    padding-top: 1.9375rem ;
    font-weight: 400;
}

.storage-range{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "range range"
    "text text";
    align-items: center;
    justify-items: end; 
    width: 80%;
}

.storage-range input{
    width: 100%;
    grid-area: range;
}

.storage-range span:first-child{
    justify-self: start;
}

.tooltip-box{
    background-color: var(--primary-color);
    border-radius: .9375rem ;
    color: var(--fouthary-color);
    padding: .9375rem 3.1875rem;
    position: relative;
    top: 2.1875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip-box span:nth-child(1){
    font-size: 2.5rem ;
    padding-right: .9375rem ;
}

.tooltip-box span:nth-child(2){
    color: var(--secondary-color);
    font-size: .875rem;
}

input[type="range"] {
    -webkit-appearance: none;
    background: var(--fouthary-color);
    border-radius: 3.125rem;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    background-size: 81% 100%;
    background-repeat: no-repeat;
    border: .25rem solid var(--fouthary-color);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: .9375rem;
    width: .9375rem;
    border-radius: 50%;
    background: var(--primary-color);
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

@media screen and (min-width: 64rem){
    body{
        flex-direction: row;
        background-image: url("/images/bg-desktop.png");
        background-repeat: no-repeat;
        background-color: var(--fouthary-color);
        background-position: 0 50vh;
        background-size: auto;
    }

    main{
        flex-direction: row;
    }

    .images-container{
        margin: 1.5625rem;
        width: 25%;
    }

    .info-container{
        margin-right: 1.5625rem;
        width: 50%;
        margin-top: 3.5625rem;
        height: 9.625rem ;
    }
    .info-container h1{
        align-self: start;
        padding-left: 10%;
    }

    .icons-menu{
        margin: 0 0 2.125rem 1.5625rem;
    }

    .tooltip-box{
        top: -11.7rem;
        right: calc(-50% + 12.8125rem);
    }

    .tooltip-box::before {
        content: " ";
        position: relative;
        top: 2.8125rem;
        right: -11.375rem;
        border-top: 2.8125rem solid var(--primary-color);
        border-left: 2.8125rem solid transparent;
      }

}